<% include include/header %>

<body id="main" class="scroll-container">
    <!-- Main Page Section -->
    <section class="section1">
    </section>
    <!-- About Us Section -->
    <section class="section2">
        <div>
            <div class="leftBox title">
                <h2>About Us</h2>
                <div class="pager">
                    <div class="pager-item active">ISB 서비스 개요</div>
                    <div class="pager-item">프로젝트 개요</div>
                </div>
            </div>
            <div class="rightBox">
                <ul class="aboutSlide">
                    <li>
                        <div class="keyword">
                            <p class="introduce">
                                마! 이게 서비스다!
                            </p>
                        </div>
                    </li>
                    <li class="keytwo">
                        <div class="about2">
                            <p>
                                마! 이게 프로젝트다!
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Team section -->
    <section class="section3">
        <div>
            <div class="leftBox title">
                <h2 class="White">Team</h2>
            </div>
            <div class="rightBox">
                <div>
                    <ul>
                        <li><span>김휘림</span><span>가천대학교 컴퓨터공학과</span></li>
                        <li><span>우대철</span><span>가천대학교 컴퓨터공학과</span></li>
                        <li><span>최성원</span><span>가천대학교 컴퓨터공학과</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <% include include/footer %>



        <!-- Swiper JS -->
        <script src="./js/jquery-2.1.1.min.js"></script>
        <!-- Initialize Swiper -->
        <script src="./js/swiper.min.js"></script>

        <script>
            $(document).ready(function () {
                // 마우스 휠 이벤트
                $("section").each(function () {
                    $(this).on('mousewheel', function (e) {
                        var $this_mouseEvent = $(this);

                        // 이벤트 초기화
                        e.preventDefault();

                        var delta = 0;
                        if (!event) event = window.event;
                        if (event.wheelDelta) {
                            delta = event.wheelDelta / 120;
                            if (window.opera) delta = -delta;
                        } else if (event.detail) delta = -event.detail / 3;
                        var moveTop = null;
                        var idx = $this_mouseEvent.index();
                        var secL = $('section').length;
                        // 마우스휠을 위에서 아래로
                        if (delta < 0) {
                            if ($this_mouseEvent.next().index() < secL && $this_mouseEvent.next().index() != -1) {
                                moveTop = $this_mouseEvent.next().offset().top;
                                // 오른쪽 네비 활성화
                            } else {
                                moveTop = $this_mouseEvent.last().offset().top;
                                // 오른쪽 네비 활성화
                            }
                            // 마우스휠을 아래에서 위로
                        } else {
                            if ($this_mouseEvent.prev().index() >= 0) {
                                moveTop = $this_mouseEvent.prev().offset().top;
                                // 오른쪽 네비 활성화
                            }
                        }
                        // 화면 이동 0.5초(500)
                        $("html, body").stop().animate({
                            scrollTop: moveTop
                        }, {
                                duration: 500, complete: function () { }
                            });
                    });
                });

                // 오른쪽 동그라미 버튼 클릭시 이벤트
                $('.dots li').click(function () {
                    var $this = $(this);
                    var $section = $('section');

                    $('.dots li a').removeClass('active');
                    $this.find('a').addClass('active');

                    var idx = $this.index();
                    var secH = $section.height();
                    var secP = parseInt($section.css('padding-top'));

                    // console.log(secP);

                    $('html, body').animate({ scrollTop: secH * idx + (secP * idx) });
                });

                // about2 li 밑에 버튼 클릭시 이벤트
                $('.pager .pager-item').click(function () {
                    var $this = $(this);
                    var $aboutSlide = $('.aboutSlide');

                    var pagerW = $aboutSlide.width();
                    var idx = $this.index();
                    $('.pager .pager-item').removeClass('active');
                    $this.addClass('active');
                    if (idx == 1) {
                        $aboutSlide.animate({ 'margin-left': '-100%' });
                    }
                    else {
                        $aboutSlide.animate({ 'margin-left': '0' });
                    }
                });

                // section1~9까지 offset().top값 반복문
                var scArr = new Array();
                for (var i = 1; i < 10; i++) {
                    scArr[i - 1] = $('.section' + i).offset().top;
                }

                // 윈도우 스크롤할 대 섹션당 애니메이션 효과 및 오른쪽 동그라미 활성화
                $(window).on('scroll load', function () {
                    var wTop = $(this).scrollTop();
                    var $dots_li = $('.dots li');
                    var $dots_li_a = $dots_li.find('a');
                    var $section3 = $('.section3');
                    var $press_logo = $('.press_logo');
                    var $section6_snsBox = $('.section6 .snsBox');
                    var $section7_rightBox_div = $('.section7 .rightBox div');
                    var $contact = $('.contact');

                    if (wTop >= 0 && wTop < scArr[1]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(0).find('a').addClass('active');
                        $('.section1 .mTitle').animate({ 'opacity': '1', 'margin-top': '180px' }, 500);
                    } else if (wTop >= scArr[1] && wTop < scArr[2]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(1).find('a').addClass('active');
                    } else if (wTop >= scArr[2] && wTop < scArr[3]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(2).find('a').addClass('active');
                        $section3.find('.img2').delay(300);
                        $section3.find('img').animate({ 'opacity': '1', 'top': '52%' }, 300);

                    } else if (wTop >= scArr[3] && wTop < scArr[4]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(3).find('a').addClass('active');
                        $('.section4 .swiper-container').animate({ 'opacity': '1', 'margin-top': '80px' }, 500);
                    } else if (wTop >= scArr[4] && wTop < scArr[5]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(4).find('a').addClass('active');
                        $press_logo.find('li:nth-child(2)').delay(300);
                        $press_logo.find('li:nth-child(3)').delay(500);
                        $press_logo.find('li').animate({ 'opacity': '1', 'margin-top': '0' }, 500);
                        $('.tg').animate({ 'opacity': '1', 'margin-top': '0' }, 1000);
                    } else if (wTop >= scArr[5] && wTop < scArr[6]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(5).find('a').addClass('active');
                        $section6_snsBox.find('.co_side').animate({ 'opacity': '1', 'margin-top': '0' }, 1000);
                        $section6_snsBox.find('.co_center').animate({ 'opacity': '1', 'margin-top': '0' }, 500);
                    } else if (wTop >= scArr[6] && wTop < scArr[7]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(6).find('a').addClass('active');
                        $section7_rightBox_div.find('ul:nth-child(2)').delay(500);
                        $section7_rightBox_div.find('ul').animate({ 'opacity': '1', 'margin-top': '0' }, 500);
                    } else if (wTop >= scArr[7] && wTop < scArr[8]) {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(7).find('a').addClass('active');
                        $contact.find('div:nth-child(1)').animate({ 'opacity': '1', 'margin-top': '0' }, 500);
                        $contact.find('div:nth-child(2)').animate({ 'opacity': '1', 'margin-top': '0' }, 800);
                    } else {
                        $dots_li_a.removeClass('active');
                        $dots_li.eq(8).find('a').addClass('active');
                    }
                });
            });
        </script>
</body>

</html>