@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, nav, article, section, aside, canvas, details, figcaption, figure, hgroup, menu, summary, time, mark, audio, video
* { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; border-collapse:collapse;}
html,body { width:100%; height:100%; font-family: 'Nanum Gothic', '나눔고딕'; color: #3d3d3d; line-height:1.5; font-size: 14px; position:relative; }
article, nav, article, section, aside, canvas, menu, details, figcaption, figure, footer { display:block;  }
ul, ol, li {list-style:none; }
a { margin:0; padding:0; font-size:100%; text-decoration:none; vertical-align:baseline; color:inherit; background:transparent; }
img { vertical-align:top; }
table { border-collapse:collapse; border-spacing:0; }
input { margin:0; padding:0; box-sizing:content-box; vertical-align:top; appearance:none; border-radius:0; }

dd { -webkit-margin-start:0 !important; }
ul { -webkit-padding-start:0 !important; }

body { overflow-x:hidden; }

div#main { height:100%; }
section { height:100%; background-size: cover !important; background-position: center !important; padding-top: 135px; box-sizing: border-box; position: relative; overflow: hidden; transition: all .3s ease; }
section:after {content:""; display:block; clear:both;}

.section1 { background: url('../img/main_bg.jpg') no-repeat; } /*수정*/
.section2 { background: url('../img/about2_bg.png') no-repeat; }
.sectionTeam { background-color: #044778; }
.section9 { background: url('../img/main_bg.jpg') no-repeat; } /*수정*/

.section1 .sec1bg { height:125%; margin-top: -135px; margin-left:45%; opacity:0.75; }
.section1 div { width:100%; height:100%; position: absolute; top:0; left:0;}
.section1 div img { width:40%; height:auto; margin-top:80px; margin-left:50%; }
.section1 div div { font-size: 30px; margin-top:40%; margin-left:58%; }
.section1 div div a button { border-style:solid; border-width:2px; color:#fff; margin-right:20px; padding:3px; padding-left:6px; padding-right:6px; }

.signin { background: url('../img/signin_bg.jpg') no-repeat; } /*수정*/
.signup { background: url('../img/signin_bg.jpg') no-repeat; }
.sign { height:60%; padding:5px; background-color: #ffffff88; }
.sign .rightBox { font-size:20px; color:#000; }
.sign .rightBox div { margin-bottom: 5px; }
.sign .rightBox label { text-align: right; width:150px; display: inline-block; color:#000; }
.sign .rightBox input { font-size:20px; height:auto; width: 200px; color:#000; }
.sign .rightBox .signBtn { margin-top:10px; margin-left:300px }

/*for TeamSection*/
.sectionTeam .rightBox div { margin-top: 60px; }
.sectionTeam .rightBox div ul { font-weight:bolder; float: left; }
/* .sectionTeam .rightBox div ul { width: 50%; float: left; margin-top: 410px; opacity: 0; } */
.sectionTeam .rightBox div ul li { font-size: 25px; color: #fff; margin-bottom: 25px;  }
.sectionTeam .rightBox div ul li span:first-child { width: 160px; display: inline-block; }
.sectionTeam .rightBox div ul li span:last-child { color:#d0d0d0; }

section > div, nav div { width: 72%; height: 100%; margin: 0 auto; position:relative; }
section > div {border: 0px solid red; }

.section2>div .rightBox { height: 600px; overflow: hidden; }
.section2>div .rightBox .aboutSlide { width: 200%; height: 100%; overflow: hidden; }
.section2>div .rightBox .aboutSlide>li { width:50%; height:calc(100% - 40px); overflow-y:auto; overflow-x: hidden; float:left; position: relative; }

nav { position: fixed; left: 0; top: 0; width: 100%; height: 60px; background:rgba(0, 0, 0, 0.75); z-index:1;  }
/*nav div > a img { margin-top: 7px;}*/
.menu { float: right; margin-top: -4px;}
.menu li { display: inline-block; margin-left:30px; }
.menu li:last-child { margin-left: 10px; }
.menu li a { display: block; font-size: 16px; font-weight: bold; color: #555; padding: 20px 5px; }
.menu li a:hover { color: #07ac7f; }


h2 { display: inline-block; position: relative; width: 140px; font-size: 28px; text-align: right; letter-spacing: -1px; color: #3d3d3d; }
h2:before { content: ""; display: block; position: absolute; left: 0; bottom: -15px; width: 140px; height: 8px; background: #3d3d3d; }
p { font-size: 14px; font-weight: bold; }
.white { color: #fff;  }
.white:before { background: #fff; }

section div > div {float: left;/* width: 48%; */}
section > div .leftBox {width: 158px;height: 100%;margin-right: 70px;}
section > div .rightBox {width: calc(100% - 228px);position: relative;margin-top: 50px;}

.aboutSlide li { width: 100%; height:550px; display: inline-block; overflow-y:auto; }
.aboutSlide li div p { font-size:18px; }
.section2 .bx-controls-direction { display: none; }
.section2 .bx-wrapper { margin: 0; }
.introduce { margin-bottom: 80px; word-break: keep-all;}
/* .pager { width: 100%; position: absolute; bottom: 0; left: 50%; transform: translateX(-10%); }
.pager-item:first-child { margin-right:8px; }
 */

.pager .pager-item { display: block; color: #3d3d3d; margin: 5px 0; font-weight: 900; cursor: pointer; }
.pager .pager-item.active { color: #118398; border-bottom: 1px solid #118398;  }

.keyword { width: 100%; }

.about2 { width:100%; display: inline-block; }
.about2 > div { width:25%; height: 250px; display: inline-block; text-align:center; margin: 0 calc(22% / 6) ; margin-bottom: 25px; }
.about2 > div img { width:100%; height:auto; }
/* .about2 > div:nth-child(4) { margin-left: 20%; margin-right:8%; } */
.about2 > div:nth-child(5) { margin-left: 0%; margin-right:20%; }
.about2 > div p { margin-top: 20px; padding: 0 10px; word-break: keep-all; }

.aboutSlide .bx-pager { transform: translateX(-8.5%); }
.section2 .leftBox h2 { margin-bottom: 40px; }

.footer { height:auto; width:100%; position:absolute; bottom:0; left:0; padding:15px; background-color:#575757dd; box-sizing: border-box; text-align: center; color: #afafaf; line-height: 2; word-break: keep-all;}

section .rightBox > div { width: 90%; }

.tg { width: 100%; border-collapse: collapse; border-top:2px solid #3d3d3d; border-bottom: 2px solid #3d3d3d; margin: 0 auto; font-weight: bold; position: relative; margin-top: 520px; opacity: 0; }
.tg tr:hover { background: #fff; cursor: pointer; }
.tg tr td span {display:none; }

.tg tr > a { width: 100%; height: 100%; display: block; position: absolute; left: 0; top:0; }

.tg td { padding:15px 50px; border-bottom:1px solid #b6b6ba; text-align:center; vertical-align: middle; }
.tg td:nth-child(2) { text-align: left; padding: 25px 0; font-size: 16px;}
.tg td a {color:inherit; display: block; font-size: inherit;}

.tg .txtleft td {text-align: left;}
.nohover tr:hover { background:#fff; cursor: auto; }
.tg .bold td { color: red !important; }

/* for map */
.section9>* { width:100%; float:left; }
.section9 > div { margin-top:4%; }
.section9 > div .leftBox { float: initial; height: 5%;}
.section9 > div .rightBox { height: 80%; width: 85%; float: left;}
.section9 .user_info { width: 10%; margin-top: 50px; float: left; }

#map_div { height: 98%; position: relative; margin-left: 3% }
#Tmap_Map { width: 100%; height: 100%; border-style: double; border-width: 5px; border-style: double; border-width: 5px; }

@media screen and (max-width: 1295px) {
    .section9 > div .rightBox { width: 80%; position: relative; }
    .section9 .rightBox > div  { width: 95%; position: initial; top: 0; left: 0; transform: initial;}
    .section9 .user_info { width: 120px; margin-left: 30px; }
}


@media only screen and (max-width:768px) {

    .section9 .rightBox { margin-top: 30px; }
}

.dots { z-index: 0; list-style: none; padding: 0; position: fixed; top: 50%; right:20px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.dots li { margin-bottom: 8px; }
.dots li a {padding: 7px 12px 12px 7px;width: 4px;height: 5px;display: block;}
.dots li a:before { content: ''; position: absolute; width: 8px; height: 8px; background: rgba(255, 255, 255, 0.48); border: 1px solid #fff;
border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease; -moz-transition: -moz-transform 0.3s ease, background-color 0.3s ease; -ms-transition: -ms-transform 0.3s ease, background-color 0.3s ease; -o-transition: -o-transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.dots li a.active:before { content: ''; background-color: #FFFFFF; width: 14px; height: 14px; margin-top: -4px; left: 7px; background: rgb(12, 217, 161); -webkit-transform: scale(1.0); -moz-transform: scale(1.0); -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.about2 > div:nth-child(4) { margin-left: 20%; margin-right: 8%;}