<div class="footer">
    <p>TEAM Stitch Lilo<br />
        PROJECT Imaging Sensor fot the Blinds</p>
</div>
</section>
<!-- <div id="bg"></div> -->

<ul class="dots dots-left">
    <li><a href="#1" class="active"></a></li>
    <li><a href="#2"></a></li>
    <li><a href="#3"></a></li>
</ul>